[Desktop Entry]
Exec=/usr/bin/monitor_change_resolution_JBs.sh p 0 y
Icon=preferences-desktop-wallpaper
Name=monitor_projetor_display
NoDisplay=false
StartupNotify=false
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
# shortcut = Ctrl + Shift + P
